/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;
// bs-navbar-color: #F9F5D7;

/*-- color variables --*/
$theme-text: #282828;
$theme-text-alt: #f2e5bc;
$theme-background: #f9f5d7;
$theme-background-alt: #3c3836;
$theme-darker-beige: #bdae93;

/*-- scss:rules --*/
// h1, h2, h3, h4, h5, h6 {
// }

body {
  color: $theme-text;
  background-color: $theme-background;
}


/* Navigation bar ----------------------------------------------------- */
.navbar {
  background-color: $theme-background-alt;
}

// main title
.navbar-brand {
  color: $theme-text-alt;
}

.navbar-brand:hover {
  color: $theme-darker-beige; // main title
}

.navbar-nav .nav-link {
  color: $theme-text-alt;
}

.navbar-nav .nav-link:hover {
  // color: $theme-darker-beige !important;
  text-decoration: underline;
}

.navbar-nav .nav-link.active {
  color: $theme-darker-beige !important;
  // text-decoration: underline;
}

// Hamburger icon - This is the worst
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='%23f2e5bc' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

// Search icon
.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  width: 26px;
  height: 26px;
  color: $theme-text-alt;
  opacity: 1;
}