@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;

/*-- color variables --*/
$theme-text: #282828;
$theme-text-alt: #f2e5bc;
$theme-background: #f9f5d7;
$theme-background-alt: #3c3836;
$theme-darker-beige: #bdae93;
$theme-darkest-beige: #a89984;
// $theme-green: #689D6A;
$theme-green: #427b58;
$theme-purple: #b16286;

$theme-dark-background: #32302f;
$theme-dark-foreground: #fbf1c7;

/*-- scss:rules --*/
body {
  color: $theme-text;
  background-color: $theme-background;
  font-family: "Lora";
}

// Hyperlinks
a {
  color: $theme-green;
}

a:hover {
  color: $theme-purple;
}

h2 {
  border-bottom: 1px solid $theme-dark-background;
}

// Turn images into links
div.link-block {
  // background-color:  !important;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  // border: 1px solid #000000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  border-radius: 4px;
  // padding: 10px 10px 10px 10px; /* insides */
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0px; /* outsides: top right bottom left */
  width: 100%;
}

div.link-block:hover,
a:hover > div.link-block {
  transform: translateY(-4px);
  // background-color: var(--theme-light-green) !important;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15); /* Thicker, darker shadow */
}

// Remove link styling from anchors wrapping link-blocks
a:has(> div.link-block) {
  text-decoration: none !important;
  color: inherit;
}


// Quarto vars ---------------------------------------------------------
$grid-sidebar-width: 300px !default; // The left hand sidebar
$grid-body-width: 1200px !default; // The main body
$grid-margin-width: 300px !default; // The right hand margin bar
$grid-column-gutter-width: 1.5rem !default; // The gutter that appears between the above columns


/* Navigation bar ----------------------------------------------------- */
.navbar {
  background-color: $theme-background-alt;
}

// main title
.navbar-brand {
  color: $theme-text-alt;
}

.navbar-brand:hover {
  color: $theme-purple; // main title
}

.navbar-brand.active {
  color: $theme-darker-beige;
}

.navbar-nav .nav-link {
  color: $theme-text-alt;
}

.navbar-nav .nav-link:hover {
  color: $theme-purple !important;
  // text-decoration: underline;
}

.navbar-nav .nav-link.active {
  color: $theme-green;
  // text-decoration: underline;
}

// Hamburger icon - This is the worst
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='%23f2e5bc' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

// Search icon
.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  width: 26px;
  height: 26px;
  color: $theme-text-alt;
  opacity: 1;
}
.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon:hover {
  color: $theme-purple !important;
}

// GitHub Icon, but not search
.navbar .quarto-navbar-tools .quarto-navigation-tool {
  color: $theme-text-alt;
  // how to make bigger?
}
.navbar .quarto-navbar-tools .quarto-navigation-tool:hover {
  color: $theme-purple !important; // Not working
}


// Sidebar -------------------------------------------------------------------------
.sidebar nav[role='doc-toc'] ul > li > a.active {
  color: $theme-green !important;
  border-left: $theme-green !important;
}

.sidebar nav[role='doc-toc'] ul > li > a:hover {
  color: $theme-purple !important;
  border-left: $theme-purple !important;
}

// Second level - this is janky though
.sidebar nav[role='doc-toc'] ul > li > ul > li > a.active {
  color: $theme-green !important;
  border-left: $theme-green !important;
}

.sidebar nav[role='doc-toc'] ul > li > ul > li > a:hover {
  color: $theme-purple !important;
  border-left: $theme-purple !important;
}


// Github Dropdown
.dropdown-item {
  background-color: $theme-background;
  border: 1px solid $theme-background-alt;
}
.dropdown-item:hover {
  background-color: $theme-darker-beige;
}


// Text boxes and such -------------------------------------------------------------

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.image-box {
  width: 30%;
}

.image-box img {
  width: 100%;
  height: auto;
}

.text-box {
  padding: 10px;
}

.figure-float {
  float: left; 
  width: 50%; 
  margin: 0px !important;
}

// Code blocks -----------------------------------------------

code, pre code {
  background-color: $theme-background-alt !important;
  // color: $theme-dark-foreground !important;
}