@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;

/*-- color variables --*/
$theme-text: #282828;
$theme-text-alt: #f2e5bc;
$theme-background: #f9f5d7;
$theme-background-lighter: #fffdee;
$theme-background-alt: #3c3836;
$theme-grey: #e9e9e9;
$theme-dark-grey: #bbbbbb;
$theme-darker-beige: #d8cbb2;
$theme-darkest-beige: #a89984;
$theme-orange: #d65d0e;
$theme-blue: #458588;
$theme-green: #427b58;
$theme-purple: #b16286;

$theme-dark-background: #32302f;
$theme-dark-foreground: #fbf1c7;


// Quarto vars ---------------------------------------------------------
$grid-sidebar-width: 300px !default; // The left hand sidebar
$grid-body-width: 900px !default; // The main body
$grid-margin-width: 300px !default; // The right hand margin bar
$grid-column-gutter-width: 1.5rem !default; // The gutter that appears between the above columns


/*-- scss:rules --*/
body {
  color: $theme-text;
  background-color: $theme-background;
  font-family: "Lora";
//   width: 1200px;
}

// Hyperlinks
a {
  color: $theme-green;
}

a:hover {
  color: $theme-purple;
}

.nav-footer a {
  color: $theme-green;
}

.nav-footer a:hover {
  color: $theme-purple;
}

h2 {
  border-bottom: 1.5px solid $theme-dark-background;
}

h3 {
  border-bottom: 1px solid $theme-darkest-beige;
}

h4 {
  color: #000;
}

// Turn images into links
div.link-block {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  background-color: $theme-background-lighter;
  border-radius: 3px;
  border: 1px solid $theme-background-alt;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 10px; /* outsides: top right bottom left */
  width: 100%;
}

div.link-block:hover,
a:hover > div.link-block {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15); /* Thicker, darker shadow */
}

// // images within link-block
// div.link-block img {
//   max-height: 100%;
//   max-width: 30%;
//   object-fit: contain;
// }

// Remove link styling from anchors wrapping link-blocks
a:has(> div.link-block) {
  text-decoration: none !important;
  color: inherit;
}

// For hexes only
.link-block.hex {
  clip-path: polygon(
    50% 0%,   /* top point */
    100% 25%, /* top-right */
    100% 75%, /* bottom-right */
    50% 100%,  /* bottom point */
    0% 75%,  /* bottom-left */
    0% 25%   /* top-left */
  );
  overflow: hidden;
  border-radius: 0;
  filter: drop-shadow(0 4px 6px rgba(0,0,0,0.2));
  transition: filter 0.2s, transform 0.2s;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  }
}

//  Make darker
.link-block.darker img {
  filter: brightness(95%);
  transition: filter 0.2s;
}

// project-block
div.project-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-height: 180px;
}

// images within project-block
div.project-block img {
  border: 1px solid $theme-dark-grey;
  max-height: 160px;
  max-width: 30%;
}

div.project-block p {
  padding-top: 10px;
}


// Footer ---------------------------------------------------------------
.nav-footer {
    background-color: $theme-background-alt !important;
    color: $theme-text-alt !important;
}

// Callouts -------------------------------------------------------------
.callout-note {
  background-color: $theme-grey;
  color: #000;
  border-color: #000 !important;
  border-left-color: $theme-orange !important;
}

.callout.callout-style-default .callout-header[aria-expanded="true"] {
  background-color: $theme-darker-beige;
  color: $theme-text;
}

.callout.callout-style-default .callout-header[aria-expanded="false"] {
  background-color: $theme-darker-beige;
  color: $theme-text;
}

div.callout-note.callout-titled .callout-icon::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill: rgb(214, 93, 14)" class="bi bi-info-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/></svg>');
}

/* Navigation bar ----------------------------------------------------- */
.navbar {
  background-color: $theme-background-alt;
}

// main title
.navbar-brand {
  color: $theme-text-alt;
}

.navbar-brand:hover {
  color: $theme-purple; // main title
}

.navbar-brand.active {
  color: $theme-darker-beige;
}

.navbar-nav .nav-link {
  color: $theme-text-alt;
}

.navbar-nav .nav-link:hover {
  color: $theme-purple !important;
  // text-decoration: underline;
}

.navbar-nav .nav-link.active {
  color: $theme-green;
  // text-decoration: underline;
}

// Hamburger icon - This is the worst
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='%23f2e5bc' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

// Search icon
.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  width: 26px;
  height: 26px;
  color: $theme-text-alt;
  opacity: 1;
}
.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon:hover {
  color: $theme-purple !important;
}

// GitHub Icon, but not search
.navbar .quarto-navbar-tools .quarto-navigation-tool {
  color: $theme-text-alt;
  // how to make bigger?
}
.navbar .quarto-navbar-tools .quarto-navigation-tool:hover {
  color: $theme-purple !important; // Not working
}


// Sidebar -------------------------------------------------------------------------
.sidebar nav[role='doc-toc'] ul > li > a.active {
  color: $theme-green !important;
  border-left: $theme-green !important;
}

.sidebar nav[role='doc-toc'] ul > li > a:hover {
  color: $theme-purple !important;
  border-left: $theme-purple !important;
}

// Second level - this is janky though
.sidebar nav[role='doc-toc'] ul > li > ul > li > a.active {
  color: $theme-green !important;
  border-left: $theme-green !important;
}

.sidebar nav[role='doc-toc'] ul > li > ul > li > a:hover {
  color: $theme-purple !important;
  border-left: $theme-purple !important;
}


// Github Dropdown
.dropdown-item {
  background-color: $theme-background;
  border: 1px solid $theme-background-alt;
}
.dropdown-item:hover {
  background-color: $theme-darker-beige;
}


// Text boxes and such -------------------------------------------------------------

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.image-box {
  width: 30%;
}

.image-box img {
  width: 100%;
  height: auto;
}

.text-box {
  padding: 10px;
}

.figure-float {
  float: left; 
  width: 50%; 
  margin: 0px !important;
}

// Code blocks -----------------------------------------------

code, pre code {
  background-color: $theme-background-alt !important;
  // color: $theme-dark-foreground !important;
}