# Combined workflow for rendering and deploying site
name: Render and Deploy

on:
  push:
    branches: [main, master]
  pull_request:

  workflow_dispatch:

permissions: read-all

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render Quarto Project
        uses: quarto-dev/quarto-actions/render@v2
        with: 
          to: html

      - name: Deploy via rsync
        uses: burnett01/rsync-deployments@7.1.0
        with:
          switches: -avzr --delete
          legacy_allow_rsa_hostkeys: "true"
          path: ./_site/
          remote_path: ${{ secrets.REMOTE_PATH }}
          remote_host: ${{ secrets.REMOTE_HOST }}
          remote_user: ${{ secrets.REMOTE_USER }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
